.toggle-switch {
  position: absolute;
  right: 6rem;
  margin-top: 0.5rem;
  border-width: 1px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 29px;
  width: 56px;
  background-color: black;
  transition: 0.4s;
  border-radius: 34px; /* Rounded slider */
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 1px;
  right: 0px;
  top: 1px;
  background-color: blue;
  transition: 0.4s;
  border-radius: 50%; /* Circle knob */
}

input:checked + .slider {
  background-color: white; /* Green background when checked */
}

input:checked + .slider:before {
  transform: translateX(26px); /* Move the knob to the right when checked */
}
